body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: minmax(150px, 1.5fr) 4fr;
  height: 100vh;
}

body div {
  border: 1px solid red;
}

.sidebar {
  grid-column-start: 1;
  grid-row: 1 / 3;
  background: #38bdf8;
}

.header {
  grid-column-start: 2;
  grid-row-start: 1;
}

.main-content {
  grid-column-start: 2;
  grid-row-start: 2;
  background: #e2e8f0;
}

.sidebar-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 1rem;
}

.sidebar-text {
  color: white;
}

.sidebar-icon {
  color: white;
}
